@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;900&display=swap');

body {
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardContainer {
    font-family: 'Urbanist', sans-serif;
    width: 450px;
    height: 220px;
}

.title {
    font-family: 'Urbanist', sans-serif;
    font-weight: 900;
}

.headSection {
    margin-bottom: 0px;
}

.headSection img {
    border-radius: 30px 30px 0 0;
    margin-bottom: 0px;
}

.cardBody {
    font-family: 'Urbanist', sans-serif;
    background-color: white;
    text-align: center;
    font-weight: 200;
    font-size: 16px;
    padding: 50px;
    margin-top: -4px;
    /* border: 0.5px solid black; */
    width: fit-content;
    height: fit-content;
}

.details {
    background-color: rgba(88, 101, 104, 0.089);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.father {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.content2 h3 {
    margin-left: 30px;
    margin-bottom: -10px;
}

a {
    font-weight: bold;
}

.pay {
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 10px auto 10px auto;
    border-radius: 10px;
    border: 1px solid blue;
    display: block;
    width: 100%;
    background-color: blue;
    color: white;
    box-shadow: 5px 10px 20px rgba(88, 101, 104, 0.76);
}

.cancel {
    font-family: inherit;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    padding: 20px;
    margin: 30px auto 10px auto;
    border: 0px;
    display: block;
    width: 100%;
    background-color: white;
    color: black;
}